*.js linguist-detectable=false
*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.css linguist-detectable=false
*.vue linguist-detectable=false
*.scss linguist-detectable=false
*.html linguist-detectable=false
